body {
  background-color: #b5b5b5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d4dae3' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v1H0v20H1V0h19V1H0z'/%3E%3C/g%3E%3C/svg%3E");
}

.message-bubble {
  padding: 12px 16px;
  border-radius: 18px;
  margin-bottom: 8px;
  max-width: 75%;
  word-wrap: break-word;
  animation: fadeIn 0.3s ease-in-out;
}

.user-bubble {
  background-color: #841216; 
  color: white;
  margin-left: auto; 
}

.bot-bubble {
  background-color: #9adb8a; /* Messenger grisi */
  color: black;
  margin-right: auto; /* Sola hizalama */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}